 
<div id="party-info">

  <h2>Tableau termin&eacute; !</h2>
  <p>F&eacute;licitations ! </p>
  

    <video playsinline  webkit-playsinline id='Player' src="" class="" onclick="this.paused ? this.play() : this.pause();">    </video>

        <div id='footer'>
            <a href='index.html'  class='btn btn-block'>  &lsaquo;  Retour &agrave; l'accueil</a>
            <div id='reset-data'  class='btn btn-block'>  &#9851; Recommencer une partie</div>
        </div>
    
        {{ include('@AldafluxGameQuizz/game/endpage/_congrats_after.html.twig') }}

</div>
    


    
         