{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Game  /Quizz {% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/nousaussi.png" />   
    </head>

    <body id="main_body">
 
        
       
    </body>
</html>
