
#board_title
{
    margin-top: 5px;
    text-align: center;
    border-bottom: 2px solid rgb(246, 132, 8);
}
#question_title
{
    margin-top: 0px;
    text-align: center;
}

.centerwmargin
{
    width: 80%;
    margin: auto;
}



ul
{
    padding: 0px;
}

li
{
    margin:0px;
}

.center
{
    text-align: center;
}



.videoContainer
{
    width:100%;
}

.videoContainer video
{
    width:100%;
}


.page-header
{
    border-top: 3px solid rgb(246, 132, 8);
    border-bottom: 3px solid rgb(246, 132, 8);
}
    

h1#game_title
{
    text-align: center;
    color: rgb(18, 18, 82);
    margin-bottom: 0px;
}

#game_subtitle
{
    text-align: center;
    font-size: 1em;
    color: rgb(18, 18, 82);
    margin-top: 0px;
    padding-bottom: 4px;
}



.answers 
        {
            padding: 1em 2em 1em 2em ;
            text-align: left;
            background-color: #03162a;
        }
     
        
        .answers li, #boards li, #board li
        {
            display: block;
            padding: 0.8em 1.2em 0.8em 1.2em ;
            color: #eeeeee;
            border-radius: 10px;
            margin-top: 8px;
            font-size: 1.2em;
            background-color: #143b6b;
        }
        
        
        
        #boards li
        {
            margin-top: 48px;            
            font-size: 1.5em;
        }
        
        
        #boards li
        {
            height: 120px;
            text-align: center;
            padding-top: 40px;
        }
        
        
        #boards li
        {
            animation: colorchange 20s; /* animation-name followed by duration in seconds*/
            
        }
        
         

    @keyframes colorchange
    {
      0%   {color: white;}
      10%  {color: red;}
      20%   {color: white;}
      30%  {color: red;}
      40%   {color: white;}
      50%  {color: red;}
      100% {color: white;}
    }

        
        
        .answers li.nowplaying
        {
            color: #ffffff;
            font-weight: bold;
            border:1px solid #ffffff;
        }
        
        #board 
        {
        }
        #board li.question
        {
            margin: 8px;
        }
        
        .question_lib
        {
            width: 85%;
            display: table-cell;
        }
        
        #board li .icon, #boards .icon
        {
            display: table-cell;
            float: right;
            width: 32px;
        }
        
        @media only screen and (max-width: 767px) 
        {
            #board li .icon, #boards .icon
            {
                width: 18px;
            }
        }

        
        
        
        #question_answer
        {
            display: none;
            padding: 1em 2em 1em 2em ;
            color: #eeeeee;
            border-radius: 10px;
            margin: 12px;
            font-size: 1.4em;
            background-color: #143b6b;
        }
        
        
        #question_answer_plus
        {
            display: none;
            padding: 1em 2em 1em 2em ;
            color: #143b6b;
            border-radius: 20px;
            margin: 12px;
            font-size: 1.1em;
            border:6px solid #143b6b;
        }
        
        
        
        .nonrepondu .answers li, #boards li , #board li 
        {
            cursor: pointer;
        }
        
        .skip-video-question-intro
        {
            display: block;
            cursor: pointer;
            text-align: right;
            padding: 1em 2em 1em 2em ;
            color: #eeeeee;
            border-radius: 5px;
            margin: 4px;
            font-size: 1.1em;
            background-color: #143b6b;
            
        }

        
        
        .btn
        {
            padding: 1em 2em 1em 2em ;
            color: #eeeeee;
            border-radius: 5px;
            margin: 4px;
            font-size: 1.1em;
            background-color: #143b6b;
            display: block;
            cursor: pointer;
        }
        
        a.btn
        {
            text-decoration: none;
        }
        
        .btn:hover
        {
            text-decoration: underline;
            color: #ffffff;
        }
        
        
        
        
        
        .btn_footer_right
        {
            text-align: right;
            float: right;
        }
        
        .btn_footer_left
        {
            text-align: left;
            float: left;
        }
        
        
        
        .answers li.false
        {
            background-color: #cc0000;
        }
        .answers li.good
        {
            background-color: #00cc00;
        }
        
        
        #question_answers 
        {
            background-color: #143b6b;
            display: block;
            width: 100%;
            display: none;
        }
        
        
        #question_answers .question
        {
            display: block;
            padding: 1em 2em 1em 2em ;
            color: #143b6b;
            background-color: #eeeeee;
            border-radius: 5px;
            font-size: 1.5em;
            border: 2px solid #143b6b;
        }
        
        
        #question_answers .question.nowplaying
        {
            background-color: #ffffff;
            border:1px solid red;
        }
        
        
        
        #question_answers .nonrepondu li:hover
        {
            color: #ffffff;
            background-color: #040b0b;
        }
        
        .video_reponse, #Player
        {
            display: none;
        }
        
        
        .dontshowfirst
        {
            display: none;
        }


.chevrons
{
    font-size: 1.7em;
    font-weight: bold;
}




        
/*@media only screen and (max-width: 767px) */
@media only screen and (max-width: 700px) 
{
        .answers li,  #board li
        {
            padding: 0.9em 1.1em 0.9em 1.1em ;
            border-radius: 5px;
            margin-top: 6px;
            font-size: 0.8em;
        }

        .btn
        {
            padding: 0.9em 1.1em 0.9em 1.1em ;
            border-radius: 2px;
            font-size: 0.8em;
        }

}
        
        
@media only screen and (max-height: 700px) 
{
       .answers li
       {
           padding:6px;
           font-size: 0.7em;
       }
       .answers
       {
           padding:6px;
       }
       #question_answers .question
       {
           padding:6px;
       }

        container 
        {
            margin-right:  0px;
            margin-left: 0px;
        }
}
        


@media (orientation: landscape) 
{
  
  .videoContainer
  {
       width: 60%;
      margin-right:  auto;
      margin-left: auto;
  }

  
    .player 
    {
    }
}
    

        